[submodule "bifrost"]
	path = bifrost
	url = https://github.com/realtimeradio/bifrost
[submodule "xgpu"]
	path = xgpu
	url = https://github.com/realtimeradio/xgpu
[submodule "romein-tensor-x"]
	path = romein-tensor-x
	url = https://github.com/realtimeradio/romein-tensor-x
