corr_7200t_2400a_192c_352s_2p_deadbeef.dat.tar.gz filter=lfs diff=lfs merge=lfs -text
in_7200t_192c_352s_2p_deadbeef.dat.tar.gz filter=lfs diff=lfs merge=lfs -text
corr_7200t_2400a_192c_352s_2p_chanramp.dat.tar.gz filter=lfs diff=lfs merge=lfs -text
in_7200t_192c_352s_2p_chanramp.dat.tar.gz filter=lfs diff=lfs merge=lfs -text
